(
    project: "rust/evenmedian",
    desc: "A simple problem that won't be a simple recitation from memory, blind variation.",
    op: code(
        prompt: "Complete the evenmedian function.",
    ),
    config: (
        checks: (
            no_pre: true
        )
    )
)
