(
    project: "rust/gridarea-medium",
    desc: "A medium complexity algorithmic problem, requiring two simultaneous easy solutions.",
    op: code(
        prompt: "Implement the Area trait for Grid and Sparse. Don't change the unit tests.",
        editable: ["**/code.rs"]
    ),
    config: (
        retry_limit: 5,
        checks: (
            no_pre: true
        )
    )
)
