(
    project: "rust/evenmedian",
    desc: "A simple problem that won't be a simple recitation from memory, blind variation.",
    op: fix(
        primpt: "Fix the test failure, but don't touch the unit tests.",
    ),
    config: (
        step_limit: 5
    )
)
